@media only screen and (max-width: 768px) {
	/*---Grid---*/
	.g1 {
		width: 23.0%;
	}
	.g2 {
		width: 48.0%;
	}
	.g3,
	.g4,
	.g5,
	.g6,
	.g7,
	.g8,
	.g9,
	.g10,
	.g11,
	.g12 {
		width: 98.0%;
	}

	/*---Style---*/
	header ul#nav-right {
		position: absolute;
		margin: 0px 0px 0px -20px;
		padding-top: 1em;
		width: 100%;
		height: 100vh;
		text-align: left;
		background-color: rgba(0,0,0,0.9);
	}
	header ul#nav-right li {
		display: list-item;
		height: 40px;
	}
	header ul#nav-right li#mo-nav {
		display: block;
		cursor: pointer;
		font-size: 1.3em;
		color: #5C5C5C;
	}
	header ul li img {
		display: inline-block;
	}
	header ul#nav-left li#mo-btn {
		display: inline-block;
		cursor: pointer;
		font-size: 1.3em;
	}
	header.smaller ul li a{
		font-size: 1.3em;
		color: #FFFDF8;
	}
	.nav-hide {
		display: none;
	}
	#banner {
		height: 115vh;
	}
	.rslides li img {
		height: 115vh;
	}
	.paralax h1.highlight{
		font-size: 2.6em;
		padding-top: 17%;
	}
	.paralax p.desc {
		font-size: 1.5em;
	}

	#copy-content {
		float: none;
		text-align: center;
		margin-bottom: 0px;
	}
	#copy-design {
		float: none;
		text-align: center;
	}
		
	.modal-copy {
		max-height: 300px;
	}
	.modal h3 {
		font-size: 1.125em;
	}
	.buton {
		font-size: 1em;
	}
	.segitiga-a{
		margin-top: -14vh;
		border-bottom: 15vh solid #7c8c03;
		border-left: 64vh solid transparent;
	}
	.segitiga-b{	
		border-top: 15vh solid #7c8c03;
		border-right: 60vh solid transparent;
	}

	/*
	#top {
		padding-left: 10%;
		width: 90%;
	}
	#main {
		background-size: auto 100%;
		background-position: bottom right;
		background: url(../img/bg.jpg);
		min-height: 560px;
	}
	.title {
		font-size: 4em;
	}
	.subtitle {
		margin-top: -1em;
		font-size: 1.125em;
	}
	#box-login {
		margin-top: 20%;
		width: 100%;
	}

	.sidebar {
		width: 90%;
		height: auto;
		z-index: 2000;
		top: 0px;
	}
	.menu-bt {
		display: block;
		margin: 0 0 0 -15px;
		padding: 0;
		position: fixed;
	}	
	#menu {
		height: 100%;
		height: 100vh;
		display: none;
		padding-top: 60px;
		margin: 0;
	}
	input[type=checkbox]:checked ~ #menu{
	    display: block;
	}
	.logo {
		font-size: 1.75em;
		padding-top: 0.3em;
	}
	.main-logo {
		display: none;
	}
	.logout {
		display: block;
	}
	.user-nama {
		display: none;
	}

	.isi {
		width: 100%;
	}
	.isi-heading {
		top: 60px;
		width: 100%;
		position: absolute;
	}
	.isi-content {
		padding-top: 150px;
	}
	.float-circle {
		right: 12%;
	}
	.modal:target {
		margin-top:-100px;
	}
	.table-fold {
		position: relative;
		overflow-x: scroll;
	}
	.modern-table {
		min-width: 480px;
		width: auto;
	}

	.modal-content {
		margin-top:-60px;
	}
	*/
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/*---Grid---*/
	.g1 {
		width: 14.667%;
	}
	.g2 {
		width: 31.333%;
	}
	.g3 {
		width: 48.0%;
	}
	.g4 {
		width: 31.333%;
	}
	.g6 {
		width: 48.0%;
	}
	.g5,
	.g7,
	.g8,
	.g9,
	.g10,
	.g11,
	.g12 {
		width: 98.0%;
	}	
	/*---Style---*/
	/*
	#main {
		background-size: auto 100%;
		background-position: bottom right;
	}
	.title {
		margin-top: -5%;
		font-size: 6em;
	}
	.subtitle {
		margin-top: -1em;
		font-size: 2.25em;
	}
	#box-login {
		margin-top: 10%;
		width: 100%;
	}

	.sidebar {
		width: 90%;
		height: auto;
		z-index: 2000;
		top: 0px;
	}
	.menu-bt {
		display: block;
		margin: 0 0 0 -15px;
		padding: 0;
		position: fixed;
	}	
	#menu {
		height: 100%;
		height: 100vh;
		display: none;
		padding-top: 60px;
		margin: 0;
	}
	input[type=checkbox]:checked ~ #menu{
	    display: block;
	}
	.logo {
		font-size: 1.75em;
		padding-top: 0.3em;
		padding-left: 1.125em;

	}

	.isi {
		width: 100%;
	}
	.isi-content {
		padding-top: 120px;
	}
	.float-circle {
		right: 8%;
	}
	*/
}